<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>

<body>
    <h1>Upload Image</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Choose an image:</label>
        <input type="file" name="file" accept=".png,.jpg,.jpeg"><br><br>

        <label for="new_width">New Width (leave blank for no change):</label>
        <input type="number" name="new_width" placeholder="None"><br><br>

        <button type="submit">Upload</button>
    </form>
</body>

</html>